{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2 class="mb-4">Checkout</h2>

    <div class="row">

        <div class="col-lg-7">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success btn-lg">
                    Place Order
                </button>

            </form>

        </div>

        <div class="col-lg-5">

            <div class="card shadow-sm">

                <div class="card-body">

                    <h4>Order Summary</h4>

                    <hr>

                    {% for item in items %}

                        <p>
                            {{ item.product.name }}
                            × {{ item.quantity }}

                            <span class="float-end">
                                ₹{{ item.total_price }}
                            </span>
                        </p>

                    {% endfor %}

                    <hr>

                    <h4 class="text-success">
                        Total : ₹{{ total }}
                    </h4>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}