{% extends 'base.html' %}

{% block content %}

<div class="container py-5 text-center">

    <div class="card shadow-lg p-5">

        <h1 class="text-success mb-4">
            ✅ Order Placed Successfully!
        </h1>

        <p class="lead">
            Thank you for shopping with
            <strong>The Moringa Co.</strong>
        </p>

        <p>
            We have received your order.
            Our team will contact you soon.
        </p>

        <a href="{% url 'home' %}" class="btn btn-success btn-lg mt-4">
            Continue Shopping
        </a>

    </div>

</div>

{% endblock %}